﻿@model List<eLibraryGTS.Models.Item>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Welcome </title>
</head>
<body>
    <h1>List of Items</h1>
    <table border="1" cellpadding="10">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Title</td>
                <td>@item.Author</td>

            </tr>
        }
    </table>
</body>
</html>